@import '~antd/dist/antd.css';

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
    padding-bottom: 65px;
  }

  #about {
    padding-bottom: 0 !important;
  }

  #header,
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}